mixin pokemonCardForm(pokemonCard, actionURL, mode, title)

    div.form-panel
        div.header= title
        form(action=actionURL method='post')
            h4
                div.top-form
                    div.form-input
                        label(for='name') Name:
                        input(type='text' id='name' name='name' value=pokemonCard.name)
                    div.form-input
                        label(for='type') Type:
                        select(id='type' name='type' autocomplete='off')
                            each type in types
                                option(value=type selected = (type === pokemonCard.type)) #{type}
                    div.form-input
                        label(for='hitpoints') Hitpoints:
                        input(type='text' id='hitpoints' name='hitpoints' value=pokemonCard.hitpoints)
                    div.form-input
                        label(for='type_energy') Type Energy:
                        select(id='type_energy' name='type_energy' autocomplete='off')
                            each energy_pic in energy_pics
                                option(value=energy_pic selected = (energy_pic === pokemonCard.type_energy)) #{energy_pic}
                    div.form-input
                        label(for='image') Pokemon Picture:
                        input(type='text' id='image' name='image' value=pokemonCard.image)
                div.attack-form
                    div.form-input
                        label(for='attackname1') Attack 1 Name:
                        input(type='text' id='attackname1' name='attackname1' value=pokemonCard.attackname1)
                    div.form-input
                        label(for='attackdam') Attack 1 Damage:
                        input(type='text' id='attackdam' name='attackdam' value=pokemonCard.attackdam)
                    div.form-input
                        label(for='attack1_energy1') Attack 1 Energy 1:
                        select(id='attack1_energy1' name='attack1_energy1' autocomplete='off')
                            each energy_pic in energy_pics
                                option(value=energy_pic selected = (energy_pic === pokemonCard.attack1_energy1)) #{energy_pic}
                    div.form-input
                        label(for='attack1_energy2') Attack 1 Energy 2:
                        select(id='attack1_energy2' name='attack1_energy2' autocomplete='off')
                            each energy_pic in energy_pics
                                option(value=energy_pic selected = (energy_pic === pokemonCard.attack1_energy2)) #{energy_pic}
                    div.form-input
                        label(for='attack1_energy3') Attack 1 Energy 3:
                        select(id='attack1_energy3' name='attack1_energy3')
                            each energy_pic in energy_pics
                                option(value=energy_pic selected = (energy_pic === pokemonCard.attack1_energy3)) #{energy_pic}
                    div.form-input
                        label(for='attackname2') Attack 2 Name:
                        input(type='text' id='attackname2' name='attackname2' value=pokemonCard.attackname2)
                    div.form-input
                        label(for='attackdam2') Attack 2 Damage:
                        input(type='text' id='attackdam2' name='attackdam2' value=pokemonCard.attackdam2)
                    div.form-input
                        label(for='attack2_energy1') Attack 2 Energy 1:
                        select( id='attack2_energy1' name='attack2_energy1' autocomplete='off')
                            each energy_pic in energy_pics
                                option(value=energy_pic selected = (energy_pic === pokemonCard.attack2_energy1)) #{energy_pic}
                    div.form-input
                        label(for='attack2_energy2') Attack 2 Energy 2:
                        select(id='attack2_energy2' name='attack2_energy2' autocomplete='off')
                            each energy_pic in energy_pics
                                option(value=energy_pic selected = (energy_pic === pokemonCard.attack2_energy2)) #{energy_pic}
                    div.form-input
                        label(for='attack2_energy3') Attack 2 Energy 3:
                        select(id='attack2_energy3' name='attack2_energy3' autocomplete='off')
                            each energy_pic in energy_pics
                                option(value=energy_pic selected = (energy_pic === pokemonCard.attack2_energy3)) #{energy_pic}
                div.bottom-section-form
                    div.form-input
                        label(for='weakness_energy') Weakness Energy:
                        select(id='weakness_energy' name='weakness_energy' autocomplete='off')
                            each energy_pic in energy_pics
                                option(value=energy_pic selected = (energy_pic === pokemonCard.attack1_energy1)) #{energy_pic}
                    div.form-input
                        label(for='resistance_energy') Resistance Energy:
                        select(id='resistance_energy' name='resistance_energy' autocomplete='off')
                            each energy_pic in energy_pics
                                option(value=energy_pic selected = (energy_pic === pokemonCard.resistance_energy)) #{energy_pic}
                    div.form-input
                        label(for='retreat_cost1') Retreat Cost 1:
                        select(id='retreat_cost1' name='retreat_cost1' autocomplete='off')
                            each energy_pic in energy_pics
                                option(value=energy_pic selected = (energy_pic === pokemonCard.retreat_cost1)) #{energy_pic}
                    div.form-input
                        label(for='retreat_cost2') Retreat Cost 2:
                        select(id='retreat_cost2' name='retreat_cost2' autocomplete='off')
                            each energy_pic in energy_pics
                                option(value=energy_pic selected = (energy_pic === pokemonCard.retreat_cost2)) #{energy_pic}
                div.form-buttons
                    div.buttons-form
                        a.button.cancel(href='/') Cancel
                    div.buttons-form
                        button.button.save(type="submit") Submit
                    div.buttons-form
                        if(mode === 'edit')
                            a.button.delete(href=`/delete/${pokemonCard.id}`) Delete
